<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>M-Car Share</title>
</head>
<body>

<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-md-12" id="main">
            <% include ./partials/header%>
            <ul class="breadcrumb" id="breadcrumb">
                <li class="active">Home</li>
            </ul>
            <div class="jumbotron" id="mainTop">
                <h2>
                    M-CAR SHARE
                </h2>
                <p>
                    SAVE MONEY, ENJOY YOUR TIME
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 textAlignCenter">
                    <h4>TRAVEL EASY</h4>
                    <div class="col-md-4">
                        <i class="fa fa-car fa-5x"></i>
                    </div>
                    <div class="col-md-8 textAlignLeft">
                        <p>
                            Make your travel easy by renting the best car.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 textAlignCenter">
                    <h4>SAVE YOUR MONEY</h4>
                    <div class="col-md-4">
                        <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8 textAlignLeft">
                        <p>
                            Why calling a cab? Rent a car with a reasonable price. Sign Up and see special discount.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 textAlignCenter">
                    <h4>SAVE YOUR TIME</h4>
                    <div class="col-md-4">
                        <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8 textAlignLeft">
                        <p>
                            Getting freedom and flexibility to drive whenever you have time. Set your own schedule.
                        </p>
                        <p>
                            <a class="btn" href="#">View details »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>