<!DOCTYPE html>
<html lang="en">
  <head>
	  <% include ../partials/head %>
	  <title>M-Car Share My Current Car</title>
  </head>
  <body>

    <div class="container-fluid" id="container">
		<div class="row">
			<div class="col-md-12" id="main">
				<% include ../partials/header %>
				<ul class="breadcrumb" id="breadcrumb">
					<li>
						<a href="/index" class="active">Home</a>
					</li>
					<li class="active">My Car</li>
				</ul>
				<div class="row" id="contentPanel">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<img alt="Economy Car" src="../images/cars/economy.png" class="carModelImg" />
									</div>
									<div class="col-md-6">

										<button type="button" class="btn btn-success">
											I dropped off the car
										</button>
										<button id="reportDamageBTN" type="button" class="btn btn-warning" onclick="myFunction()">
											I want ro report damages
										</button>
									</div>
								</div>
								<dl>
									<dt>
										You rented Kia Rio
									</dt>
									<dd>
										MANUAL
									</dd>
									<dt>
										Per Kilometers
									</dt>
									<dd>
										CAD 1.00
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
	<script>
		function myFunction() {
			document.getElementById("demo").innerHTML = "Hello World";
		}
	</script>
</body>