<!DOCTYPE html>
<html lang="en">
  <head>
	  <% include ../partials/head%>
	  <title>M-Car Share Rent</title>
  </head>
  <body>

    <div class="container-fluid" id="container">
	<div class="row">

		<div class="col-md-12" id="main">
			<% include ../partials/header %>
			<div class="jumbotron" id="mainTop">
				<h2>
					M-CAR SHARE
				</h2>
				<p>
					Share, pray, love
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-0"></div>
				<div class="col-md-6 col-sm-12" id="mainBottom">
					<table class="table table-striped table-hover table-bordered" id="carTable">
						<thead>
							<tr>
								<th >
									
								</th>
								<th>
									#
								</th>
								<th>
									Type
								</th>
								<th>
									Name
								</th>
							</tr>
						</thead>
						<tbody>
							<tr id="firstRow">
								<th >
									<input type="checkbox">
								</th>
								<td>
									1
								</td>
								<td>
									Luxury
								</td>
								<td>
									Cadillac XTS
								</td>
							</tr>
							<tr id="secondRow">
								<th >
									<input type="checkbox">
								</th>
								<td>
									2
								</td>
								<td>
									Convertible
								</td>
								<td>
									Ford Mustang
								</td>
							</tr>
							<tr id="thirdRow">
								<th >
									<input type="checkbox">
								</th>
								<td>
									3
								</td>
								<td>
									Premium
								</td>
								<td>
									Nissan Maxima
								</td>
							</tr>
							<tr id="fourthRow">
								<th >
									<input type="checkbox">
								</th>
								<td>
									4
								</td>
								<td>
									Compact
								</td>
								<td>
									Nissan Versa Note
								</td>
							</tr>
							<tr id="fifthRow">
								<th >
									<input type="checkbox">
								</th>
								<td>
									5
								</td>
								<td>
									Economy
								</td>
								<td>
									Kia Rio
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group btn-group-justified">
								<a id="modal-393651" href="#modal-container-393651" role="button" class="btn btn-primary" data-toggle="modal" class="btn btn-default">Add Car</a>
								<a id="modal-393652" href="#modal-container-393652" role="button" class="btn btn-default" data-toggle="modal" class="btn btn-default">Delete Car</a>
							</div>
							<div class="modal fade" id="modal-container-393651" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											 
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												Add Car
											</h4>
										</div>
										<div class="modal-body">
											<form role="form">
											<div class="form-group">
													 
													<label>
														Number
													</label>
													<input type="input" class="form-control" id="carNumberModal" />
												</div>
												<div class="form-group">
													<label for="select" class="col-lg-2 control-label">Type</label>
														<select class="form-control" id="carTypeModal">
															<option>Economy</option>
															<option>Compact</option>
															<option>Premium</option>
															<option>Luxury</option>
															<option>Convertible</option>
													</select>
												</div>
												<div class="form-group">
													 
													<label>
														Name
													</label>
													<input type="input" class="form-control" id="carNameModal" />
												</div>
												
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">
												Close
											</button> 
											<button type="button" class="btn btn-primary" id="addCar"> 
												Save changes
											</button>
										</div>
									</div>
									
								</div>
								
							</div>
							<div class="modal fade" id="modal-container-393652" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											 
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												Remove Car
											</h4>
										</div>
										<div class="modal-body">
											<p>Are you sure you want to delete this row?</p>
										</div>
										<div class="modal-footer">
											 
											<button type="button" class="btn btn-default" data-dismiss="modal">
												NO
											</button> 
											<button type="button" class="btn btn-primary" id="removeCar" onclick="deleteRow()"> 
												YES
											</button>
										</div>
									</div>
									
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-0"></div>
			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>