<!DOCTYPE html>
<html lang="en">
  <head>
	  <% include ../partials/head%>
	  <title>M-Car Share Rent Car By Model</title>
  </head>
  <body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" id="main">
				<% include ../partials/header %>
				<ul class="breadcrumb" id="breadcrumb">
					<li>
						<a href="/index" class="active">Home</a>
					</li>
					<li class="active">Find Car</li>
				</ul>
				<div class="row">
					<div class="col-md-4">
						<h3>
							Luxury
						</h3><img alt="Luxury Car" src="../images/cars/luxury.png" class="img-circle carModelImg" />
						<button type="button" class="btn btn-primary">
							Select
						</button>
					</div>
					<div class="col-md-4">
						<h3>
							Economy
						</h3><img alt="Economy Car" src="../images/cars/economy.png" class="img-circle carModelImg" />
						<button type="button" class="btn btn-primary">
							Select
						</button>
					</div>
					<div class="col-md-4">
						<h3>
							Convertible
						</h3>
						<img alt="Convertible Car" src="../images/cars/convertible.jpg" class="img-circle carModelImg" />
						<button type="button" class="btn btn-primary">
							Select
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
  	<script>
		$('#submit').click(function() {
			$.ajax({
				url: "/send_save",
				type: "POST",
				dataType: "json",
				data: {
					id: $('#guid').val(),
					title: $('#page_title').val(),
					content: $('#page-content').val()
				},
				contentType: "application/json",
				cache: false,
				timeout: 5000,
				complete: function() {
					//called when complete
					console.log('process complete');
				},

				success: function(data) {
					console.log(data);
					console.log('process sucess');
				},

				error: function() {
					console.log('process error');
				},
			});
		})
	</script>
</body>
</html>