<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head%>
	<title>M-Car Share Rent Car By Model</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="main">
			<% include ../partials/header %>
			<ul class="breadcrumb" id="breadcrumb">
				<li>
					<a href="/index" class="active">Home</a>
				</li>
				<li class="active">Find Car</li>
			</ul>
			<div class="row">
				<div class="col-md-4">
					<h3>
						Luxury
					</h3><img alt="Luxury Car" src="../images/cars/luxury.png" class="carModelImg" />
					<button type="button" class="btn btn-primary" onclick="showCars(10)">
						Select
					</button>
				</div>
				<div class="col-md-4">
					<div class="panel-group" id="panel-7">
						<div class="panel panel-default">
							<div class="panel-heading" id="carType-heading-7">
								<h3>
									Economy
								</h3><img alt="Economy Car" src="../images/cars/economy.png" class="carModelImg" />
								<a  type="button" onclick="showCars(7)" class="panel-title collapsed btn btn-primary" data-toggle="collapse" data-parent="#panel-7" href="#panel-element-7">Select</a>
							</div>
							<div id="panel-element-7" class="panel-collapse collapse"></div>


						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h3>
						Convertible
					</h3>
					<img alt="Convertible Car" src="../images/cars/convertible.jpg" class="carModelImg" />
					<button type="button" class="btn btn-primary" onclick="showCars(11)">
						Select
					</button>
				</div>

			</div>
		</div>
	</div>
	<!-- Bill Dialog start-->
	<% include invoice.ejs %>
	<!-- Bill Dialog end -->
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
<script src="../js/bookCar.js"></script>
<script>
	function showCars(carType) {
		$.ajax({
			url: "/pages/rentCarByModel",
			type: "POST",
			dataType: "json",
			data: {
				carType: carType+"",
			},
			complete: function() {
				//called when complete
				console.log('process complete');
			},

			success: function(response) {
				if(response.success){
					var cars = response.data;
					for (var i in cars){
						console.log(cars[i].carModel);
						var tr = '<div class="panel-body">'
						tr += '<table class="table table-striped table-hover table-bordered" id="carTable">'
						tr += '<thead><tr> <th>Name </th> <th>Location </th> <th>Price/km </th> <th>Reserve</th></tr> </thead>'
						tr += '<tbody id="addedCarsBody">'
						tr += "<tr id='car-row-"+cars[i]._id+"'>";
						tr += "<td>" + cars[i].carName + ", "+ cars[i].carModel+ "</td>";
						tr += "<td>" + cars[i].locationName + "</td>";
						tr += "<td>" + cars[i].price + "</td>";
						tr += '<td><a href="#modal-container-bill" onClick="setCarId('+cars[i]._id+')" role="button" class="btn btn-primary" data-toggle="modal">Select</a></td>';
						tr += "</tr>";
						tr += '</tbody>'
						tr += '</table>'
						tr += '</div>';

						$("#panel-element-7").append(tr);
						$("#panel-element-7").show();
					}

				}else{
					console.error("An error occured calling this ajax function.");
				}
			},

			error: function(err) {
				console.log(err);
			},
		});
	}
</script>
</body>
</html>