<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>M-Car Share</title>
	
	<link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

  </head>
  <body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="well" id="signUpForm">
					<form class="form-horizontal">
					  <fieldset>
						<legend>
							<h3>
								M-CAR <small>Share Company</small>
							</h3>
						</legend>
						<div class="form-group">
						  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
						  <div class="col-lg-10">
							<input type="text" class="form-control" id="inputEmail" placeholder="Email">
						  </div>
						</div>
						<div class="form-group">
						  <label for="inputPassword" class="col-lg-2 control-label">Password</label>
						  <div class="col-lg-10">
							<input type="password" class="form-control" id="inputPassword" placeholder="Password">
						  </div>
						</div>
						<div class="form-group">
						  <label for="driverLicense" class="col-lg-2 control-label">Driver License</label>
						  <div class="col-lg-10">
							<input class="form-control" rows="3" id="driverLicense" placeholder="Driver License ID"></input>
							<span class="help-block">We need to check your driving background.</span>
						  </div>
						</div>
						<div class="form-group">
						  <div class="col-lg-10 col-lg-offset-2">
							<button type="reset" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						  </div>
						</div>
					  </fieldset>
					</form>
				</div>
				<ul class="pager">
				  <li class="previous"><a href="/index">&larr; Back</a></li>
				</ul>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
</html>